<form action="/edit" method= "POST">
  <input type="text" placeholder="Name" name="name" value="">
  <input type="text" placeholder="Image" name="image" value="">
  <input type="text" placeholder="Color" name="color" value="">
  <input type="text" placeholder="Price" name="price" value="">
  <button type="submit" name="save">Save product</button>
</form>
