@import url('https://fonts.googleapis.com/css?family=Roboto');
body h1 h2 td tr div div.container{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.hide{
  display: none;
  display: flex;
}
.ironColor{
  background-color: #32c3ff;
  color: white;
}
input.edit-form{
  width: auto;
}
.small-input{
  width: 40px;
}
.medium-input{
  width: 80px;
}

.image-2 {
  display: none;
  min-height: 333.333333px;
}

.card.d-inline-block:hover .image-1 {
  display: none;
}

.card.d-inline-block:hover .image-2 {
  display: block;
}
